extends layouts/main-layout

block content
    form(action="/add-user", method="POST") 
        input(type="text", name="user", required, placeholder="add user...")
        button(type="submit") Add user